.profile-pic {
    max-width: 100%
}
.profile-title {
	color:#5042f4;
	font-family: 'Lobster', cursive;
}

.my-nav{ 
background: rgba(79, 217, 212, 0.95);
 }
 .jumbotron{
 	
 	color: white;
 }
.oprahouse-bg{
    background-image: url('../img/building2.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
}
.no-bg{
	background: none;
}
.perth-bg{
background-image: url('../img/gondolas-on-the-swan-perth-attractions-perth-swan-1.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
}
.no-bg{
	background: none;
}